@model IEnumerable<OnlineVehicleRentalSystem.Models.Vehicle>

<h2>Manage Vehicles</h2>

<a href="@Url.Action("AddVehicle")" class="btn btn-success mb-3">Add New Vehicle</a>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="4" class="text-center">No vehicles available</td>
            </tr>
        }
        else
        {
            @foreach (var vehicle in Model)
            {
                <tr>
                    <td>@vehicle.Model</td>
                    <td>@vehicle.Year</td>
                    <td>@vehicle.Price.ToString("C")</td>
                    <td>
                        <a href="@Url.Action("EditVehicle", new { id = vehicle.Id })" class="btn btn-warning">Edit</a>
                        <a href="@Url.Action("DeleteVehicle", new { id = vehicle.Id })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
